pep8
pillow
pyflakes
pylint
requests
wxpython
azure==4.0.0
cognitive_face==1.4.2
azure-common==1.1.23
azure-cosmos==3.1.2
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-functions==1.0.4
azure-nspkg==3.0.2
